{% extends "base.html" %}
{% block content %}

{% if message %}
    <div class="alert alert-success">
      <ul>
        <li>{{message}}</li>
      </ul>
    </div>
{% endif %}

<table class="table table-condensed table-hover">
	<thead>
      	<tr>
	        <th>Nimi</th>
	        <th>Tunnus</th>
	        <th>Salasana</th>
	        <th>Pääkäyttäjä</th>
	    </tr>
    </thead>
    <tbody>
    	{% for kayttaja in kayttajat %}
    	<tr>
    		<td><a href="{{base_path}}/kayttaja/{{kayttaja.id}}">{{kayttaja.nimi}}</td>
	        <td>{{kayttaja.tunnus}}</td>
	        <td>{{kayttaja.salasana}}</td>
	        <td>{{kayttaja.isAdmin()}}</td>
    	</tr>
    	{% endfor %}
    </tbody> 	
</table>
<p >
	<a href="{{base_path}}/kayttaja/new" class="btn btn-success">Lisää käyttäjä</a>
</p>

{% endblock %}