{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa autopaikkaa {{autopaikka.numero}}</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/autopaikka/{{autopaikka.id}}/edit">
    
    <div class="form-group">
        <div class="controls">
          <input id="id" name="id" type="hidden" value="{{autopaikka.id}}" />
      </div>
    </div>

    <div class="form-group">
        <div class="controls">
          <input id="kiinteisto_id" name="kiinteisto_id" type="hidden" value="{{autopaikka.kiinteisto_id}}" />
      </div>
    </div>
       
    <div class="form-group">
        <label> Paikan uusi numero:</label>
        <div class="controls">
          <input id="numero" type="text" name="numero" value="{{autopaikka.numero}}" />
        </div>  
    </div>

    <div class="form-group">
        <label for="Autopaikan tyyppi:">Autopaikan tyyppi:</label>
        <select class="form-control" id="tyyppi" name="tyyppi">
          <option value="1">Avoin paikka</option>
          <option value="2">Autokatos</option>
          <option value="3">Autohalli</option>
        </select>
    </div>

    <div class="form-group">
          <label class="control-label" for="sahkopistoke:">Sähköpistoke:</label>
          <div class="controls">
              <input id="sahkopistoke" name="sahkopistoke" type="checkbox" value="0"/>
          </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Päivitä</button>
    </div>
  </form>
 
{% endblock %}