{% extends "base.html" %}
{% block content %}
<h1>Kiinteistöt</h1>

<form method="get" action="" class="form-inline">
    <div class="form group">
      <input type="text" name="search" class="form-control" placeholder="Hakusana">
    </div>

    <button type="submit" class="btn btn-default">Hae kiinteistöä</button>
</form>

<table class="table table-condensed table-hover">
	<thead>
      	<tr>
	        <th>Kiinteistö</th>
	        <th>Katuosoite</th>
	        <th>Postinumero</th>
	        <th>Kaupunki</th>
	        <th></th>
	        <th></th>
      	</tr>
    </thead>
    <tbody>
    	{% for kiinteisto in kiinteistot %}
    	<tr>
    		<td><a href="{{base_path}}/kiinteisto/{{kiinteisto.id}}">{{kiinteisto.nimi}}</td>
	        <td>{{kiinteisto.katuosoite}}</td>
	        <td>{{kiinteisto.postinumero}}</td>
	        <td>{{kiinteisto.postitoimipaikka}}</td>
    	</tr>
    	{% endfor %}
    </tbody> 	
 </table>
<p >
	<a href="{{base_path}}/kiinteisto/new" class="btn btn-success">Lisää kiinteistö</a>
</p>

{% endblock %}