{% extends "base.html" %}
{% block content %}
<h1>Kiinteistöt</h1>

<form role="suodata">
	<div class"row">
  		<div class="form-group col-lg-4">
      		<input type="text" class="form-control" id="sort" placeholder="Suodata">
  		</div>
  		<button type="button" class="btn btn-default" aria-label="Right Align">
  			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
  	</div>
</form>  

<table class="table table-condensed table-hover">
	<thead>
      	<tr>
	        <th>Kiinteistö</th>
	        <th>Katuosoite</th>
	        <th>Postinumero</th>
	        <th>Kaupunki</th>
	        <th></th>
	        <th></th>
      	</tr>
    </thead>
    <tbody>
    	{% for kiinteisto in kiinteistot %}
    	<tr>
    		<td><a href="{{base_path}}/kiinteisto/{{kiinteisto.id}}">{{kiinteisto.nimi}}</td>
	        <td>{{kiinteisto.katuosoite}}</td>
	        <td>{{kiinteisto.postinumero}}</td>
	        <td>{{kiinteisto.postitoimipaikka}}</td>
	        <th><button class="btn btn-default btn-sm" href="#">Muokkaa</button>
	        <th><button class="btn btn-danger btn-sm" href="#">Poista</button></th>
    	</tr>
    	{% endfor %}
</table>
<p >
	<a href="{{base_path}}/kiinteisto/new" class="btn btn-success">Lisää kiinteistö</a>
</p>

{% endblock %}