{% extends "base.html" %}
{% block content %}
<h1>Kiinteistöt</h1>

  {% if message %}
    <div class="alert alert-success">
      <ul>
        <li>{{message}}</li>
      </ul>
    </div>
  {% endif %}

<table class="table table-condensed table-hover">
	<thead>
      	<tr>
	        <th>Kiinteistö</th>
	        <th>Katuosoite</th>
	        <th>Postinumero</th>
	        <th>Kaupunki</th>
	        <th></th>
	        <th></th>
      	</tr>
    </thead>
    <tbody>
    	{% for kiinteisto in kiinteistot %}
    	<tr>
    		<td><a href="{{base_path}}/kiinteisto/{{kiinteisto.id}}">{{kiinteisto.nimi}}</td>
	        <td>{{kiinteisto.katuosoite}}</td>
	        <td>{{kiinteisto.postinumero}}</td>
	        <td>{{kiinteisto.postitoimipaikka}}</td>
    	</tr>
    	{% endfor %}
    </tbody> 	
</table>

{% if user_logged_in.paakaytto %}
<p >
  <a href="{{base_path}}/kiinteisto/new" class="btn btn-success">Lisää kiinteistö</a>
</p>
{% endif %}
{% endblock %}