{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<h1>{{haettukiinteisto.nimi}}</h1>
  
<p>{{haettukiinteisto.katuosoite}}</p>
<p>{{haettukiinteisto.postinumero}} {{haettukiinteisto.postitoimipaikka}}</p>

<!-- hakee makron -->

<p>
  <a href="{{base_path}}/kiinteisto/{{haettukiinteisto.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>

{{forms.destroy_button("#{base_path}/kiinteisto/#{haettukiinteisto.id}/destroy")}} 

<h2>Autopaikat</h2>

<!-- autopaikat tänne alle -->
<table class="table table-striped table-condensed">
    <thead>
      	<tr>
      		<th>Tila</th>
        	<th>Autopaikka</th>
	        <th>Varaaja</th>
	        <th>Varaus alkaa</th>
	        <th>Varaus päättyy</th>
	        <th>Lisätietoja</th>
	    </tr>

{% endblock %}