{% extends "base.html" %}
{% block content %}
  <h1>Kirjaudu sisään</h1>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
 
  <form role="form">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="row">
      <div class="form-group col-lg-4">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control"%>
      </div>
    </div>  
    <!-- Salasanakenttä salasanalle -->
    <div class="row">
      <div class="form-group col-lg-4">
        <label>Salasana</label>
        <input type="password" class="form-control">
      </div>
    </div>  
    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>
{% endblock %}


